.wrap1{
    display: block;
    width: 700px;
}
.cal1{
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    border: 3px solid black;
    border-radius: 20px;
    float: left;
    margin-left: 100px;
    box-shadow: 0 0 10px grey;
    -webkit-box-shadow: 20px 20px 50px grey;
    margin-top: 100px;
    text-align: center;
    line-height: 90px;
}
.cal2{
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    border: 3px solid black;
    border-radius: 20px;
    float: left;
    margin-left: 100px;
    box-shadow: 0 0 10px grey;
    -webkit-box-shadow: 20px 20px 50px grey;
    margin-top: 100px;
    text-align: center;
    line-height: 90px;
}
.cal3{
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    border: 3px solid black;
    border-radius: 20px;
    float: left;
    margin-left: 100px;
    box-shadow: 0 0 10px grey;
    -webkit-box-shadow: 20px 20px 50px grey;
    margin-top: 100px;
    text-align: center;
    line-height: 90px;
}
.cal4{
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    border: 3px solid black;
    border-radius: 20px;
    float: left;
    margin-left: 100px;
    display: inline-block;
    box-shadow: 0 0 10px grey;
    -webkit-box-shadow: 20px 20px 50px grey;
    margin-top: 100px;
    text-align: center;
    line-height: 90px;
}
.cal5{
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    border: 3px solid black;
    border-radius: 20px;
    float: left;
    margin-left: 100px;
    display: inline-block;
    box-shadow: 0 0 10px grey;
    -webkit-box-shadow: 20px 20px 50px grey;
    margin-top: 100px;
    text-align: center;
    line-height: 90px;
}
.cal6{
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    border: 3px solid black;
    border-radius: 20px;
    float: left;
    margin-left: 100px;
    display: inline-block;
    box-shadow: 0 0 10px grey;
    -webkit-box-shadow: 20px 20px 50px grey;
    margin-top: 100px;
    text-align: center;
    line-height: 90px;
}
.cal7{
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    border: 3px solid black;
    border-radius: 20px;
    float: left;
    margin-left: 100px;
    display: inline-block;
    box-shadow: 0 0 10px grey;
    -webkit-box-shadow: 20px 20px 50px grey;
    margin-top: 100px;
    text-align: center;
    line-height: 90px;
}
.cal8{
    width: 100px;
    height: 100px;
    background-color: cornflowerblue;
    border: 3px solid black;
    border-radius: 20px;
    float: left;
    margin-left: 710px;
    display: inline-block;
    box-shadow: 0 0 10px grey;
    -webkit-box-shadow: 20px 20px 50px grey;
    margin-top: -105px;
    text-align: center;
    line-height: 90px;
}


