.wrap{
    width: 1200px;
    margin: 0 auto;
}
.row{
    width: 100%;
    display: block;
}
.col{
    width: 30%;
    display: block;
    float: left;
    border-radius: 8px;
    background-color: white;
    /*border: 1px solid grey;*/
    box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -moz-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -o-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -ms-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    /*margin: 0 20px;*/
    margin-bottom: 80px;
    margin-right: 0;
}
.col2{
    width: 30%;
    display: block;
    float: left;
    border-radius: 8px;
    background-color: white;
    /*border: 1px solid grey;*/
    box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -moz-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -o-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -ms-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    /*margin: 0 20px;*/
    margin-bottom: 80px;
    margin-left: 40px;
}
.col3{
    width: 30%;
    display: block;
    float: left;
    border-radius: 8px;
    background-color: white;
    /*border: 1px solid grey;*/
    box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -moz-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -o-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -ms-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    /*margin: 0 20px;*/
    margin-bottom: 80px;
    margin-left: 40px;
}
.col4{
    width: 30%;
    display: block;
    float: left;
    border-radius: 8px;
    background-color: white;
    /*border: 1px solid grey;*/
    box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -moz-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -o-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -ms-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    /*margin: 0 20px;*/
    margin-bottom: 80px;
    margin-left: 40px;
}
.col5{
    width: 30%;
    display: block;
    float: left;
    border-radius: 8px;
    background-color: white;
    /*border: 1px solid grey;*/
    box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -moz-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -o-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -ms-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    /*margin: 0 20px;*/
    margin-bottom: 80px;
    margin-left: 40px;
}
.col6{
    width: 30%;
    display: block;
    float: left;
    border-radius: 8px;
    background-color: white;
    /*border: 1px solid grey;*/
    box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -moz-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -o-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -ms-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    /*margin: 0 20px;*/
    margin-bottom: 80px;
    margin-left: 40px;
}
.col7{
    width: 30%;
    display: block;
    float: left;
    border-radius: 8px;
    background-color: white;
    /*border: 1px solid grey;*/
    box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -moz-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -o-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -ms-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    /*margin: 0 20px;*/
    margin-bottom: 80px;
    margin-left: 40px;
}
.col8{
    width: 30%;
    display: block;
    float: left;
    border-radius: 8px;
    background-color: white;
    /*border: 1px solid grey;*/
    box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -moz-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -o-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -ms-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    /*margin: 0 20px;*/
    margin-bottom: 80px;
    margin-left: 40px;
}
.col9{
    width: 30%;
    display: block;
    float: left;
    border-radius: 8px;
    background-color: white;
    /*border: 1px solid grey;*/
    box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -moz-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -o-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -ms-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    /*margin: 0 20px;*/
    margin-bottom: 80px;
    margin-left: 40px;
}
.col10{
    width: 30%;
    display: block;
    float: left;
    border-radius: 8px;
    background-color: white;
    /*border: 1px solid grey;*/
    box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -moz-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -o-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -ms-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    /*margin: 0 20px;*/
    margin-bottom: 80px;
    margin-left: 40px;
}
.col11{
    width: 30%;
    display: block;
    float: left;
    border-radius: 8px;
    background-color: white;
    /*border: 1px solid grey;*/
    box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -moz-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -o-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -ms-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    /*margin: 0 20px;*/
    margin-bottom: 80px;
    margin-left: 40px;
}

.row .col:nth-child(2){
    margin: 0 5%;
}
.row5 .col:nth-child(2){
    margin: 0 5%;
}
.row5 .col:nth-child(2) .sana{
    background-color: indianred;
}
.row .col:nth-child(1) .sana{
    background-color: indianred;
}
.row5 .col:nth-child(2){
    margin: 0 5%;
}
.sana{
    padding: 5rem 0;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background-color: #7de29e;
    color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.text-sana{
    padding: 1.5rem 0;
    text-align: center;
}
.col :hover{
    transform: rotateX(20deg) rotateY(20deg);
    background-color: #7de29e;
    color: white;
    box-shadow: 0 0 10px rgba(80,80,80,0.8);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.8);
}
.col2 :hover{
    transform: translateX(200px) translateY(150px);
    background-color: #7de29e;
    color: white;
    box-shadow: 0 0 10px rgba(80,80,80,0.8);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.8);
    float: left;
}
.col3 :hover{
    transform: scaleX(1.1) scaleY(1.5);
    background-color: #7de29e;
    color: white;
    box-shadow: 0 0 10px rgba(80,80,80,0.8);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.8);
}
.col4 :hover{
    transform: scaleX(1.2) scaleY(1.5);
    background-color: #7de29e;
    color: white;
    box-shadow: 0 0 10px rgba(80,80,80,0.8);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.8);
}
.col5 :hover{
    transform: translateX(200px) translateY(-150px);
    background-color: #7de29e;
    color: white;
    box-shadow: 0 0 10px rgba(80,80,80,0.8);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.8);
}
.col6 :hover{
    transform: translateX(-200px) translateY(150px);
    background-color: #7de29e;
    color: white;
    box-shadow: 0 0 10px rgba(80,80,80,0.8);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.8);
}
.row7 :hover{
    transform:  rotateX(60deg) rotateY(90deg) rotateZ(360deg);
    background-color: #7de29e;
    color: white;
    box-shadow: 0 0 10px rgba(80,80,80,0.8);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.8);
}
.col8 :hover{
    transform: scaleX(1.4) scaleY(1.6);
    background-color: #7de29e;
    color: white;
    box-shadow: 0 0 10px rgba(80,80,80,0.8);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.8);
}
.col9 :hover{
    transform: rotateX(100deg) rotateY(45deg);
    background-color: #7de29e;
    color: white;
    box-shadow: 0 0 10px rgba(80,80,80,0.8);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.8);
}
.row10 :hover{
    transform: translateX(200px) translateY(150px);
    background-color: #7de29e;
    color: white;
    box-shadow: 0 0 10px rgba(80,80,80,0.8);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.8);
}
.row11 :hover{
    transform: rotateX(20deg) rotateY(50deg) rotateZ(15deg);
    background-color: #7de29e;
    color: white;
    box-shadow: 0 0 10px rgba(80,80,80,0.8);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.8);
}
.col12 :hover{
    transform: translateX(200px) translateY(-150px);
    background-color: #7de29e;
    color: white;
    box-shadow: 0 0 10px rgba(80,80,80,0.8);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.8);
}
.col12 .sana{
    background-color: indianred;
}
.col12{
    width: 30%;
    display: block;
    float: left;
    border-radius: 8px;
    background-color: white;
    /*border: 1px solid grey;*/
    box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -webkit-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -moz-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -o-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    -ms-box-shadow: 0 0 10px rgba(80,80,80,0.5);
    /*margin: 0 20px;*/
    margin-bottom: 80px;
    margin-left: 40px;
}